<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/el_molino_icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/el_molino_icono_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SistemaDeComandas"
        tools:targetApi="31">
        <activity
            android:name=".Email"
            android:exported="false"
            android:theme="@style/Theme.SistemaDeComandas" />
        <activity
            android:name=".DeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".ResumenDiarioActivity"
            android:exported="false" />
        <activity
            android:name=".PedidoActivity"
            android:exported="false" />
        <activity
            android:name=".Configuracion"
            android:exported="false" />
        <activity
            android:name=".ModificarProductos"
            android:exported="false" />
        <activity
            android:name=".DetalleMesa"
            android:exported="true" />
        <activity
            android:name=".PantallaPrincipal"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>